/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

#app {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error {
  color: red;
}

.txt-center {
  text-align: center;
}

.ov-hidden {
  overflow: hidden;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.mt-3 {
  margin-top: 3%;
}
